In [7]:
install.packages("readxl")
install.packages("tidyverse")

The downloaded binary packages are in
	/var/folders/9h/h3c_lg5958zgtkrsy6ylrwn40000gn/T//RtmpTK9Oah/downloaded_packages

The downloaded binary packages are in
	/var/folders/9h/h3c_lg5958zgtkrsy6ylrwn40000gn/T//RtmpTK9Oah/downloaded_packages

In [8]:
library(readxl)
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.3     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [6]:
accounts <- read_excel("RBA_KYC_Accounts_ALL_Ids.xlsx",  
                       col_types = c("text", "text", "text", 
                                     "text", "numeric", "text", "text", 
                                     "numeric", "text", "text", "text", 
                                     "text", "numeric", "numeric", "text", 
                                     "text", "text", "text", "text", "text", 
                                     "numeric", "text", "numeric", "numeric", 
                                     "numeric", "numeric", "numeric", 
                                     "numeric", "numeric", "numeric", 
                                     "numeric", "numeric", "numeric", 
                                     "numeric", "numeric", "numeric", 
                                     "numeric", "numeric", "numeric", 
                                     "numeric", "numeric", "text", "text", 
                                     "text", "text", "numeric", "numeric"))

ERROR: Error in read_excel("RBA_KYC_Accounts_ALL_Ids.xlsx", col_types = c("text", : no se pudo encontrar la función "read_excel"

In [5]:
# discard columns listed below
accounts.tidy <- select(accounts, 
                        -c(birthPlace,
                           extraNationality,
                           birthCountry, 
                           profession, 
                           companyType, 
                           giinCode, 
                           lastUpdate, 
                           ledgerCode, 
                           legal_Stat_desc, 
                           score_card_Desc)) %>%  na_if("NULL")
glimpse(accounts.tidy)

ERROR: Error in select(accounts, -c(birthPlace, extraNationality, birthCountry, : no se pudo encontrar la función "%>%"

In [ ]:
# date columns are imported as char, here we convert them to date format
accounts.recast <- accounts.tidy %>%
  mutate(customerType = as.numeric(customerType),
         creationDate = parse_date(creationDate),
         dateOfBirth = parse_date(dateOfBirth),
         date_of_assessment = parse_date(date_of_assessment))


# generate dummy variables for "score_card" and "rba_grade_desc"
accounts.encoded <- accounts.recast %>%
  mutate(dummy.acc = 1) %>% # column with single value
  spread(key = score_card, # column to spread
         value = dummy.acc,
         fill = 0,
         sep = "_"
  ) %>%
  mutate(dummy.rba_grade=1) %>%
  spread(key=rba_grade_desc,
         value=dummy.rba_grade,
         fill=0,
         sep="_")

View(accounts.encoded)